{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block content %}
    <div class="ui hidden divider"></div>
    <div class="ui two column centered stackable grid">
        <div class="column">
            {{ render(controller(
                'MangoSylius\\SyliusContactFormPlugin\\Controller\\ContactFormController::createContactMessage'
            )) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ include('@MangoSyliusContactFormPlugin/ContactForm/recaptcha.html.twig') }}
{% endblock %}