{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}{{ 'mango_sylius.contactForm.ui.detailTitle'|trans ({'%Contact%': message.senderName|first })}}{% endblock %}

{% block content %}


        <div class="ui segment">
            {{ 'mango_sylius.contactForm.name'|trans ({'%Name%' : message.senderName})}}
            </br></br>
            {{ message.message }}
            </br></br>
            {{ 'mango_sylius.contactForm.time'|trans ({'%Time%': message.sendTime|date('Y-m-d H:i:s') })}}
        </div>


{% endblock %}
